<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestionAlquiler</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionAlquiler.styles.css" asp-append-version="true" />
    <link href="~/lib/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/FontAwesome/css/all.min.css" rel="stylesheet" />
    <!-- Agrega esto en la sección <head> de tu archivo _Layout.cshtml -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-ZCFvVRq4soMIOB9HqPv4Xc1wFzduCmPVJwGTiqZJU1GCk+nQD6+MA2+u+7zHhZbg" crossorigin="anonymous">



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @if (ViewData["Title"].ToString() != "Inicio de Sesión" ) // Ocultar opciones en la página de inicio de sesión
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (ViewData["Title"].ToString() != "Inicio de Sesión" && ViewData["Title"].ToString() != "Inicio") // Ocultar opciones en la página de inicio de sesión
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inquilino" asp-action="Index">Inquilinos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Habitacion" asp-action="ListadoHabitaciones">Habitaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Alquiler" asp-action="Listado">Alquileres</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pagos" asp-action="ListadoPagos">Pagos</a>
                            </li>
                        </ul>
                    }
                    @* Sección para la opción de cerrar sesión *@
                    @RenderSection("CerrarSesion", required: false)
                    

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GestionAlquiler - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
